{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('./static/assets/img/about-bg1.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-2 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.
                        <p>Fristly, I intoduce my self. My name is Keshav, Basically i am from delhi, I love to travel
                            this is my hobby
                            So, i have decided
                            start travelling new places and posting blogs.</p>

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">

                <p>Traveling alone forces us outside of our comfort zones,
                    which makes us more receptive to new people and experiences. </p>
                <p>And solo travelers are less intimidating and more approachable than groups.
                    On some trips you'll have interesting conversations with people you'll never speak to again, which
                    is fine.</p>
                <p>People traveling by themselves will find they are, in some cases, pushing themselves a little
                    harder,
                    in others, giving themselves a little more slack.
                    Travel + Leisure's editors and contributors travel solo often, by chance and by design,
                    and know the best tips and tricks for social butterflies and shrinking violets alike.</p>
            </div>
        </div>
    </div>
</main>

{% endblock body %}