{% extends 'base.html' %}

{% block title %} Post {% endblock title %}

{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('./static/assets/img/road.jfif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>A weekend road trip from Bangalore to Goa</h1>
                    <h2 class="subheading">in Goa, Karnataka, India.</h2>
                    <span class="meta">
                        Posted by
                        <a>Solo Traveller</a>
                        on April 11, 2020
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <p>It’s fun to be crazy sometimes always. Our road trip from Bangalore to Goa and back to Bangalore, in
                    two days, to hunt for the best food joints was one such crazy travel experience.</p>
                <p>The plan was to start the road trip early in the morning from Bangalore and end the day somewhere in
                    South Goa. We checked for places to stay and realised there was no dearth of hotels in Goa. It was
                    the off season (we did this Bangalore to Goa road trip in the month of March), so we had the
                    flexibility to make a last-minute decision of where to stay for the night. We decided to stop
                    wherever we would be at sunset.</p>
                <a><img class="img-fluid" src="./static/assets/img/goa.jpg" alt="..." /></a>
                <p>We knew that the beautiful highways of Karnataka would make this road trip possible. However, we were
                    still looking at a driving distance of 560 km from Bangalore to Goa, mostly near the South Goa beach
                    of Palolem. An early morning start was a must, especially to get out of Bangalore before its famous
                    traffic jams began.</p>
                <p>There are a number of routes that we could have taken for this Bangalore to Goa road trip. You drive
                    over the Ponda ghat and break your day in Mollem to visit the Dudhsagar waterfalls. You can take the
                    Choral ghat for the Bangalore to Goa road trip, via Belgaum and enter North Goa directly if that’s
                    where you are headed. Or you take a more coastal route and also visit Gokarna en route your
                    Bangalore to Goa road trip.</p>
                <p>However, time was a constraint for us on this trip. We wanted to be for lunch in Karwar and for the
                    sunset on some beach in Goa, that was all we had decided for this Bangalore to Goa road trip. We
                    just chose the shortest route that Goole Maps came up with at the time. Bangalore – Tumkur –
                    Chitradurga – Davangere (NH 48) – Rannibennur bypass – Yellapur (first on state highway 6 followed
                    by a brief stretch on NH 52) – Karwar (over the Arbail ghat) – Palolem.</p>
                <h2 class="section-heading">The most beautiful entry into South Goa at Palolem</h2>
                <a><img class="img-fluid" src="./static/assets/img/Palolem.jpg" alt="..." /></a>
                <p>It was a challenge staying awake after this hearty meal. But we knew we wouldn’t be driving for long
                    as we could see the sun nearing the horizon.</p>
                <p>We knew our Bangalore to Goa road trip was coming to an end when we entered the serene Goan hamlets.
                    The entry into Goa through Karwar is probably the prettiest road in Goa. Coastal villages didn’t get
                    purer than this. Coconut trees, water streams, tiled roofs, and bakeries – all in the middle of
                    thick vegetation. This – is what comes to mind when one thinks of a beautiful life – abundant green
                    nature.</p>

                <p>We kept driving through this paradise until we got to Palolem. The sun was almost ready to set. We
                    chose a hotel by the beach. Our cottage was in the middle of a lovely little garden and just next to
                    it was the pathway to the beach. Part one of our road trip, from Bangalore to Goa was now done. We
                    had to repeat the same in reverse the next day, but for now, we would soak n the cool beach vibes of
                    Palolem.</p>


                <h2 class="section-heading">Palolem Beach, our night halt for the Bangalore to Goa road trip</h2>
                <p>Quickly freshening up, we headed to the beach. There were hardly any people around. For a long while,
                    the white sand getting pulled in by the foam of the waves and disappearing in the sea kept us
                    arrested. We kept staring towards infinity till we couldn’t see anymore.</p>
                <a><img class="img-fluid" src="./static/assets/img/night.jpg" alt="..." /></a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s
                    what living is all about.</span>
                <p>The beachside shacks were now becoming active, but thankfully not loud. The guy who ran the shack got
                    us chairs facing the sea. He lit a small candle and put it into a dug up sand hole. A mild golden
                    romantic glow surrounded us. He asked us for our drink and food preferences. We chose the sea bass
                    in lemon butter marinade and tandoor roasted red snapper and a couple of drinks.</p>
                <p>The drive had been a long one and we had the same one laid before us again tomorrow. But we couldn’t
                    have asked for a more relaxing end to this day. We had experienced such a variety of landscapes and
                    driven through some remote tribal regions. And now, we were by the sea with the sound of the waves
                    giving a perfect background score to a delicious meal. Tomorrow’s drive would come tomorrow. Right
                    now was the time to live the present moment.</p>

                <h2 class="section-heading">Resuming the road trip back from Goa to Bangalore, early morning</h2>

                <p>The next day we woke up early but decided against starting the drive immediately. Instead, we went
                    for a walk around the beach. And followed it with a big breakfast at the German bakery. Filled
                    ourselves with croissants, omelettes, muesli, hash potato, cakes and coffee. The setting of this
                    sweet little garden where we were seated in one of the small lanes of Palolem village was alluring
                    and we didn’t want to leave. But we had to get real and start heading back.</p>

                <a><img class="img-fluid" src="./static/assets/img/goa1.jpg" alt="..." /></a> <br><br>
                <a><img class="img-fluid" src="./static/assets/img/goa2.jpg" alt="..." /></a> <br><br>
                <a><img class="img-fluid" src="./static/assets/img/goa3.jpg" alt="..." /></a> <br><br>
                <a><img class="img-fluid" src="./static/assets/img/goa4.jpg" alt="..." /></a> <br><br>

            </div>
        </div>
    </div>
</article>

{% endblock body %}