{% extends 'base.html' %}

{% block title %} Post {% endblock title %}

{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('./static/assets/img/hawah.jfif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1> Delhi to Jaipur Hawa Mahal Travel Blog</h1>
                    <h2 class="subheading">in Jaipur, Rajsthan, India</h2>
                    <span class="meta">
                        Posted by
                        <a>Solo Traveller</a>
                        on August 17 , 2019
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <h1>Hawa Mahal</h1>
                <p>One of the most Iconic Monuments of Rajasthan, The Hawa Mahal is over 200 years old. One of the most
                    exciting things about this monument is that all you see are windows. Built by Maharaja Sawai Pratap
                    Singh, the ruler of Kachhwaha Rajput, the year of its birth is 1799.</p>
                <p>This is a fusion of Islamic, Mughal and Rajput architectural styles. Complimenting these, the lavish
                    arches and the filigree work in the stones represent the Islamic style of architecture. It is one of
                    its kind pyramid structure, a 5-storeyed building which also represents a pattern of a Beehive. </p>
                <a><img class="img-fluid" src="./static/assets/img/hawa1.jpg" alt="..." /></a>
                <p>The best time to visit the Mahal is during the sunrise and the sunset as the golden rays lights up
                    the red and pink sandstone building which is spectacular to view.</p>

                <h2 class="section-heading">Interesting facts about Hawa Mahal</h2>
                <ul>
                    <li>This palace was a summer retreat for the Rajput families during the olden times as there is
                        excellent cross ventilation of air. this is due to the prevalence of 953 windows in the
                        building.</li>
                    <li>Built for the Royal ladies of Rajputs, the women would see the life of the common people through
                        the windows.</li>
                    <li>The facade is designed in a honeycomb structure. This is for the Royal ladies to watch the daily
                        buzz of the city while the people can’t.</li>
                    <li>Built as a part of the Royal palace, the Mahal has no front entrance. One has to enter the Mahal
                        through the side entrance.</li>
                    <li>There are no stairs to reach the top floor. Instead, ramps were used. This was to not compromise
                        on the architecture of the building.
                    </li>
                </ul>
                <a><img class="img-fluid" src="./static/assets/img/hawa2.jpg" alt="..." /></a> <br><br>

                <h2 class="section-heading">Timings and Tickets</h2>
                <p>his 50 metres high monument is one of the must-visit places in Rajasthan. So as to be accessible,
                    this Mahal is open every day for the public to access. That is one of the best things about this
                    Monument.</p>
                <span> Time: (All Day)
                    9:30 AM – 4:30 PM
                </span><br><br>
                <a><img class="img-fluid" src="./static/assets/img/hawa3.jpg" alt="..." /></a>
                <p>Jaipur is one of the best tourist locations in India. One has to truly have the artistic eye to
                    appreciate the master architect of this monument. Add this to your Itinerary of your Jaipur holiday
                    to enjoy and be baffled from the beautiful place.</p>
                <p>Pickyourtrail will help you by providing you with stellar itineraries for Jaipur. Keep yourself
                    posted with Cool deals ana amazing packages by following the Pickyourtrail website constantly</p>

                <a><img class="img-fluid" src="./static/assets/img/hawa4.jpg" alt="..." /></a> <br><br>
                <a><img class="img-fluid" src="./static/assets/img/hawa.jpg" alt="..." /></a> <br><br>

            </div>
        </div>
    </div>
</article>

{% endblock body %}