{% extends 'base.html' %}

{% block title %} Post {% endblock title %}

{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('./static/assets/img/rishi.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>‘Yoga Capital of the World’, Rishikesh</h1>
                    <h2 class="subheading">in Dehradun, Uttarakhand, India.</h2>
                    <span class="meta">
                        Posted by
                        <a>Solo Traveller</a>
                        on July 24, 2018
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <p>Rishikesh earned its fame when the popular English rock band Beatles visited the place back in the 60s. The famous band, seeking spirituality, spent their time at the Ashram of Maharishi Mahesh Yogi.</p>
                <p>While spending some time at this ashram is a given when visiting this spiritual city, there are plenty of other places that demand your attention. Start your day with river rafting at Shivpuri followed by a simple breakfast at one of the riverside cafes and then roam around the various shops lined along Laxman Jhula.</p>
                <p>Finally, unwind at the Ghat and submerge yourself in the magnificent and stunningly tranquil Ganga Aarti in the evening. And if you need a detailed guide to help you plan your entire itinerary, take cues from this one. Read ahead to know about the popular places to visit in Rishikesh:</p>
                <h2 class="section-heading">Places to Visit in Rishikesh:</h2>
                <p class="subheading">1. Laxman Jhula, Rishikesh</p>
                <a><img class="img-fluid" src="./static/assets/img/lak.jpg" alt="..." /></a>
                <p>One of the most prominent places in Rishikesh, Laxman Jhula is a 450-feet long suspension bridge at the height of 70 feet from the river. Built in the year 1939, the bridge is an important attraction as it is believed that it is the same place where Lord Laxman crossed the Ganga River on a jute rope.</p>
                <p>When crossing the bridge, do stop in the middle and just soak in the view of the hills all around you. Nothing is more surreal than this!</p>


                <p class="subheading">2. Neelkanth Mahadev Temple, Rishikesh</p>
                <a><img class="img-fluid" src="./static/assets/img/maha.jpg" alt="..." /></a>
                
                <p>Located around 30 km from Rishikesh, this holy temple is considered as one of the most important pilgrimage places for all the devotees of Lord Shiva. According to Hindu mythology, it is believed that the temple is built at the same spot where Lord Shiva drank the venom ‘Halahala’ that was extracted after churning the ocean to obtain the elixir of life.</p>
                <p>Not only this, the temple also has a freshwater spring where devotees take a holy dip.</p>
                <ul>
                    <li>Location: Kotdwar – Pauri Road</li>
                    <li>Timings: 6 AM – 7 PM</li>
                </ul>
                
                
                <p class="subheading">3. Jumpin Heights, Rishikesh</p>
                <a><img class="img-fluid" src="./static/assets/img/punj.jpg" alt="..." /></a> <br><br>
                <p>Rishikesh, being the adventurer’s paradise, is also the hub of one of the most daunting yet exhilarating activities of them all – bungee jumping. And the best place to try this adventure sport is Jumpin Heights.</p>
                <p>Apart from bungee jumping, this adventure sports point has provisions for flying fox and giant swing. Right from expert instructors to the gears needed for bungee jumping, you will find everything here. Plus, you can also record your reaction on camera.</p>

                <p class="subheading">4. Shivpuri, Rishikesh</p>
                <a><img class="img-fluid" src="./static/assets/img/raft.jpg" alt="..." /></a> <br><br>
                <p>No trip to Rishikesh is complete without trying the adrenaline-spiking water sport – river rafting. And the best place to indulge in one of the most exciting adventure activities in Rishikesh is Shivpuri. A hub for river rafting, the place is crowded with people who want to try this adventure sport. Whether you want to go for the short 9-km or the long 21-km expedition, you will find all the equipment and arrangements at Shivpuri.</p>
                <p>Of course, if you want to do it all, we recommend you book a 1N/2D camp. After river rafting, you can chill out in tents and spend your evenings around a bonfire.</p>

                <p class="subheading">5. The Beatles Ashram, Rishikesh</p>
                <a><img class="img-fluid" src="./static/assets/img/ashram.jpg" alt="..." /></a> <br><br>
                <p>Located at a distance of around 18 km from the city centre, The Beatles Ashram is among the most important places to visit in Rishikesh. After the Beatles visited the ashram to do transcendental meditation, the outlook on Indian spirituality changed the world over.</p>
                <p>The time the Beatles spent at the ashram is touted as one of their most productive periods where they wrote plenty of songs. If you are a Beatles fan, you have to visit the ashram and soak in its tranquillity. The place is not maintained properly but still, the ruins look beautiful. Just find a spot inside the ashram and spend some hours meditating.</p>
                <ul>
                    <li>Location:  Swarg Ashram, Rishikesh</li>
                    <li>Open on all days till sunset</li>
                </ul>

                

            </div>
        </div>
    </div>
</article>

{% endblock body %}